* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #171c1e;
  color: white;
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border-spacing: 0;
}

thead, tbody, tr, th, td { display: block; }

tr:after { 
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

tbody {
  height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody td, thead th {
  width: 12.5%;
  float: left;
}